.searchBar-wrap {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  position: sticky;
  top: 20px;
}
.searchBar-icon {
  color: rgba(0, 0, 0, 0.26);
  margin-right: 1rem;
}

.searchBar-wrap input {
  font-size: 1.2rem;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 10px 10px 10px;
  font-family: 'Montserrat', sans-serif;
}

.searchBar-wrap input::placeholder {
  color:rgb(123, 166, 173);
  font-family: 'Montserrat', sans-serif;
}