
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Montserrat&family=Noto+Serif+Display:ital,wght@0,400;0,500;0,700;1,300&family=Poppins:ital,wght@0,300;0,400;0,600;1,300&family=Sanchez&family=Sarala&family=Satisfy&display=swap');
.unit{
max-width: 385px;
max-height: 950px;
margin: 50px 35px 45px 25px;
border: 2px solid rgb(247, 246, 246);
box-shadow: black;
padding: 15px;

}

.unitImg{
width: 100%;
object-fit: cover;
border-radius:7px ;
height: 280px;
}

.unitInfo{
display: flex;
flex-direction: column;
align-items: center;
}

.unitcat{
font-size: 22px;
line-height: 20px;
margin-top: 15px;
margin-right: 10px;
cursor: pointer;
}

.unitTitle{
font-size: 28px;
cursor: pointer;
margin-top: 15px;
font-family: 'Sanchez', serif;
color: #17646C;
}

.unitDate{
font-family: 'Arima', cursive;
font-size: 26px;
margin-top:10px ;
color: #17646C
}

.unitDesc{
font-size: 18px;
color: #444;
font-family: 'Sanchez', serif;
line-height: 24px;
margin-top: 10px;
overflow: hidden;
text-overflow:ellipsis ;
display: -webkit-box;
-webkit-line-clamp:4 ;
-webkit-box-orient: vertical;
}

.displayflex{
display: flex;
flex-direction: row;
font-family: 'Sanchez', serif;
font-size:20px ;
}

.description{
font-family: 'Sanchez', serif;
font-size: 17px;
color: #444;

}

.unittitle{
font-family: 'Sanchez', serif;
font-size: 16px;
color: #17646C;


}

.firstname{
font-size: 15px;
letter-spacing: 2px;
}
.imagepost{
width: 60px;
border-radius: 100%;
}

.mybtnn{
width: 150px;
height: 40px;
margin-top: 2px;
margin-left: 10px;font-family: 'Montserrat', sans-serif;
padding: -10%;
color: #fff;
background-color: #17646C;
border-radius: 5px;
}