.cleanerspage_h1 {
    color: #1A626D;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    font-size: 38px;
    font-family: 'Crimson Text', serif;

}

.cleaners_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -40px auto;

}

.cleaners_row {
    max-width: 385px;
    margin: 40px 35px 35px 25px;
    border: 2px solid rgb(255, 247, 247);
    box-shadow: black;
    padding: 15px;


}

.cleaners_row h1 {
    color: #1A626D;
}

.unitImg {
    width: 100%;
    object-fit: contain;
    border-radius: 7px;
    height: 280px;
    margin: 0 auto;
}

.center-div {
    align-self: center;
    align-content: center;
    background-color: #1A626D;
    justify-content: center;
    margin: 0 auto;
}

.cleaners_row h3 {
    font-family: 'Crimson Text', serif;
    margin: 0 auto;
    text-align: center;
}

.cleaners_row h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
}

.cleaners_row p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.cleaners_row i {
    color: #1A626D;
}

.text-muted {
    text-transform: uppercase;
    font-size: larger;
    font-family: 'Open Sans', 'Helvetica Neue';
}
