.top__nav {
  position: fixed;
  top: 0;
  left: 260px;
  z-index: 999;
  background:#1A626D;
  width: calc(100% - 260px);
  height: 70px;
  line-height: 70px;
}

.top__nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

.top__nav-right {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  justify-content: flex-end;
}

.search__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  margin-top: 15px;
}

.search__box input {
  background: transparent;
  border: none;
  outline: none;
  color:#1A626D;
}

.search__box input::placeholder {
  color: black;
}

.search__box span i {
  color: red;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  object-fit: cover;
}

.notification i {
  color:#fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.notification {
  position: relative;
}

.badge {
  position: absolute;
  top: 25%;
  right: -10%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  border-radius: 50%;
  color: white;
  font-size: 0.8rem;
}
