@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Montserrat&family=Noto+Serif+Display:ital,wght@0,400;0,500;0,700;1,300&family=Poppins:ital,wght@0,300;0,400;0,600;1,300&family=Sanchez&family=Sarala&family=Satisfy&display=swap');
.apartment{
  /* max-width: 385px; */
  margin: 50px 25px 40px 25px;
  border: 2px solid rgb(255, 247, 247);
  box-shadow: black;
}
img.apartmentImg{
  object-fit: cover;
  border-radius:7px ;
  height: 280px;
  width: 100%;
}
.apartmentInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apartmentCat{
  font-size: 11px;
  line-height: 20px;
  margin-top: 10px;
  margin-right: 10px;
  color: #BE9656;
  cursor: pointer;
}
.apartmentTitle{
  font-size: 32px;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Sanchez', serif;
  color: #1A626D;
}
.apartmentDate{
  font-family: 'Arima', cursive;
  font-size: 26px;
  margin-top:6px ;
}
.apartmenttitle{
  font-family: 'Sanchez', serif;
  font-size: 19px;
  color: #17646C;
}

.mybtn{
  width: 130px;
  height: 40px;
  margin-top: 2px;
  margin-left: 10px;font-family: 'Montserrat', sans-serif;
  padding: -10%;
  color: #fff;
  background-color: #17646C;
  border-radius: 5px;
  }