 .images{
    position: relative;
    top: 3%;
    left: 10%;
    right: 1;
    display: inline-block;
    
}
  .properties{
    width: 70%;
    border-radius: 60px 60px;
    padding: 1%;
  }

  .det{
    /* width: 40%; */
    font-size: medium;
    width: 0%;
    color: #1A626D;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    /* background-color: red; */
    
  }

  button.but{
    border-radius: 7px;
    /* border: 1px solid black; */
    color: white;
    background-color: #1A626D;
    /* position: absolute; */
    border: none;
    left: 60%;
    padding: 10px;
    /* top: -13%; */

  }

  #but{
    border-radius: 7px;
    background-color: #1A626D;
    position: relative;
    color: white;
    border: none;
    /* left: 70%; */
    padding: 10px;
    /* top: -13%; */
    width: 30%;
  }