 .images{
    position: relative;
    top: 3%;
    left: 1%;
    right: 1;
    
}
  
  .properties{
    width: 40%;
    border-radius: 60px 60px;
    padding: 1%;
  
  }

  .det{
    width: 20%;
    font-size: medium;
    display: flex;
    flex-direction: column;
    
    
  }

  .but{
    border-radius: 7px;
    border: 1px solid black;
    color: white;
    background-color: #1A626D;

  }