.main-block {
    justify-content: center;
    align-items: center;
    width: 100%; 
    min-height: 100%;
    margin-top: 7%;

    }
    .apartment-form{
    width: 80%; 
    margin: 0 auto;
    padding: 25px;
    margin-bottom: 20px;
    }
    .apartment-inputs,select {
    padding: 20px 0 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #1A626D;
    font-family: 'Montserrat', sans-serif;
    color: #1A626D;

    }
   .apartment-inputs::placeholder {
        color: #1A626D;
    
    }
    .red{
        color: rgb(246, 110, 110);
    }

    .button {
    display: block;
    width: 30%;
    padding: 10px;
    margin: 20px auto 0;
    border: none;
    border-radius: 5px; 
    background: #1A626D; 
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    }
    .button:hover {
    background: #154f58;
    }
    @media (min-width: 568px) {
    .info {
    flex-flow: row wrap;
    justify-content: space-between;
    }
    input {
    width: 46%;
    }
   
    select {
    width: 48%;
    }
    }

    .main-block h1{
        text-align: center;
        margin-left: -40px;
        font-family: 'Montserrat', sans-serif;
        color: #1A626D;

    }