@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Lora:ital,wght@1,600&family=Montserrat&family=Nerko+One&family=Noto+Serif+Display:ital,wght@0,400;0,500;0,700;1,300&family=Nunito:wght@500&family=Poppins:ital,wght@0,300;0,400;0,600;1,300&family=Roboto:wght@300;400&family=Sanchez&family=Sarala&family=Satisfy&display=swap');
span.kejani{
  color: rgb(27, 98, 110);
  font-family: 'Lora', serif;
  font-size:50px;
  font-weight: bold;
  letter-spacing: 4px;
 
}

.rightside{
 
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: light;
  color: #fff;
}

.display-flex{
  display: flex;
  flex-direction: row;
  gap: 30em;
 
}

.auth{
  border: 1px solid black;
  margin-right: 20px;
  background-color: rgb(27, 98, 110);
  width: 150px;
  text-align: center;
  color: #fff;
  border-radius: 100px;
}

a.auth.nav-link{
  color:#fff;
  background-color:rgb(27, 98, 110) ;
  border: none;

} 

.navbar-background{
  align-items: center;
  margin: 0 auto;
  

}

@media (max-width: 575.98px) {  }

@media (max-width: 767.98px) { 
  @import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Lora:ital,wght@1,600&family=Montserrat&family=Nerko+One&family=Noto+Serif+Display:ital,wght@0,400;0,500;0,700;1,300&family=Nunito:wght@500&family=Poppins:ital,wght@0,300;0,400;0,600;1,300&family=Roboto:wght@300;400&family=Sanchez&family=Sarala&family=Satisfy&display=swap');
span.kejani{
  color: rgb(27, 98, 110);
  font-family: 'Lora', serif;
  font-size:50px;
  font-weight: bold;
  letter-spacing: 4px;
 
}

.rightside{
 
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: light;
  color: #fff;
}

.display-flex{
  display: flex;
  flex-direction: row;
  gap: 10em !important;
 
}

.auth{
  border: 1px solid black;
  margin-right: 20px;
  background-color: rgb(27, 98, 110);
  width: 150px;
  text-align: center;
  color: #fff;
  border-radius: 100px;
}

a.auth.nav-link{
  color:#fff;
  background-color:rgb(27, 98, 110) ;
  border: none;

} 

.navbar-background{
  align-items: center;
  margin: 0 auto;
  

}
 }

@media (max-width: 991.98px) {  
  .display-flex{
    display: flex;
    flex-direction: row;
    gap: 10em !important;
   
  }
}

@media (max-width: 1199.98px) {  
  .display-flex{
    display: flex;
    flex-direction: row;
    gap: 10em !important;
   
  }
}

@media (max-width: 1399.98px) { 
  .display-flex{
    display: flex;
    flex-direction: row;
    gap: 15em !important;
   
  }
 }
